.goBackBtn{width: 70px;
    height: 30px;
    background-color: rgb(150, 150, 253)    ;
    border-radius: 10%;
    outline: none;
    border: solid 1px black;
}
.image{
    width: 300px;
}
.Cast{display: block;
    margin: 10px;
text-decoration: none;
font-size: 20px;
font-weight: bold;
}
.Reviews {
  display: block;
  margin: 10px;
  text-decoration: none;
font-size: 20px;
font-weight: bold;

}
